.ctitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  .btn1 {
    color: white;
    background-color: rgb(85, 85, 85);
    padding: 10px 50px;
    border-radius: 5px;
    margin: 0px 10px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 20px;
    &:hover {
      background-color: transparent;
      color: black;
      border: 1px solid gray;
    }
  }
  .btn2 {
    color: black;
    background-color: transparent;
    padding: 10px 75px;
    border-radius: 5px;
    margin: 0px 10px;
    border: 1px solid gray;
    cursor: pointer;
    font-size: 20px;
  }
}
